body{
    font-family: Arial, sans-serif;
}

.card{
    border-radius:15px;
}

button{
    font-size:18px;
}

h3{
    font-weight:bold;
}
.produce-card{
    cursor:pointer;
    transition:0.3s;
    border:3px solid transparent;
}

.produce-card:hover{
    transform:scale(1.03);
}

.border-success{
    border:3px solid #198754 !important;
}

.card{
    border:none;
    border-radius:15px;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-5px);
    box-shadow:0 10px 20px rgba(0,0,0,.2);
}

.btn{
    border-radius:10px;
}